@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;900&display=swap");

:root {
  --clr-primary: hsl(9, 30%, 95%);
  --clr-secondary: hsl(10, 23%, 70%);
  --clr-accent: hsl(21, 48%, 43%);
  --clr-extra: hsl(20, 9%, 14%);

  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  --fs-h1: 3.2rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
}
